@media (max-width: 1024px) {
    #footer .f_inner{
        flex-direction: column;
    }
    #footer .f_inner .footer_left .f_menu{
        display: flex;
        flex-wrap: wrap;
    }
    #footer .f_inner .footer_left .f_menu li{
        width:50%;
    }
    #footer .f_inner .footer_center{
        margin-top:20px;
        order :1;
    }
    #footer .f_inner .footer_center .f_info span{
        display:block;
    }
    #footer .f_inner .footer_right{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 20px 0;
    }

    #footer .f_inner .footer_right .customerTime{
        display:inline-block;
    }

    #footer .f_inner .footer_right .btnNormal{
        float:right;
    }
    #footer .f_inner .footer_right .sns{
        padding-top:20px;
    }


}