*{
    margin:0;
    padding:0;
    color:#000;
    font-size:14px;
    letter-spacing: -0.2pt !important;
    font-family: "Montserrat", "Noto Sans KR", Arial, sans-serif !important;
}
audio,canvas,img,svg,video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
img {
    border: none;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
}
i {font-style: italic;}
a {text-decoration: none;color: #000;color: var(--font-color-base);}
li{list-style: none;}
svg.icon{display: block;}
button{border:none;background-color:transparent;}
#wrap{
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 550px;
    overflow: hidden;
}

.btnNormal{
    display: inline-block;
    box-sizing: border-box;
    line-height: 1;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 13px 22px;
    height: 40px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
}