.title_section {
    text-align: center;
}

.title_section h2 {
    font-size: 30px;
}

.memberTitle .required {
    display: block;
    margin: -13px 0 0;
    line-height: 1;
    text-align: right;
    color: var(--font-color-base);
}

.memberTitle .required {
    font-size: 14px;
    color: #1a1a1a;
    margin: -19px 0 0 0;
}

.txtInfo {
    color: #868686;
    font-size: 12px;
    line-height: 22px;
}

p.txtInfo,
ul.txtInfo {
    margin: 10px 0 0;
}

p .txtInfo {
    display: block;
    margin: 10px 0 0 0;
}

.ec-base-button {
    margin: 20px 0;
    text-align: center;
}

.ec-base-button .gLeft {
    float: left;
    text-align: left;
}

[class^='btnNormal'],
a[class^='btnNormal'] {
    display: inline-block;
    padding: 12px 20px;
    height: 40px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
}

[class^='btnNormal'],
a[class^='btnNormal'] {
    border: 1px solid #D6D6D6;
}

@media (min-width: 1025px) {
    [class^='btn'].sizeS {
        padding: 10px 20px;
        height: 32px;
        font-size: 12px;
    }
}

.ec-base-button [class^='btn'].sizeS {
    height: 50px;
    padding: 17px 20px;
    line-height: 1;
    font-size: 14px;
}

.xans-member-edit [class^='btn'].sizeS {
    width: 90px;
    height: 48px;
    padding: 0;
    line-height: 48px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    color: #1a1a1a;
}

.btn_menu{
    margin-top: 100px;
}